/*********************************************\
		Desktop First Method
\*********************************************/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.trands {display: none;}
	.navigation { display: none;}
	.mobnav {
		position: absolute;
		display: none;
		right: 0;
		top: 20px;
		min-width:200px;
		max-width: 320px;
		text-align: right;
		background-color: #322257;
		li {
			display: block;
			margin: 0;
			float: none;
		}
		a {
			display: block;
			font-size: 20px;
			padding-right: 20px;
		}
		a:hover {
			background-color: #47396b;
			color: #fff;
		}
	}
}
.slider-nav {
	display: none;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}	
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*********************************************\
		Mobile First Method
\*********************************************/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.mob-menu {display: none;}
	.navigation { display: block !important;}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}